.header{
    width: 100%;
    margin: 0px;
    font-size: larger;
}
.input_class{
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: green;
    background-color: greenyellow;
    border: 4px dashed grey;
}
.object_name_label{
    font-weight: bold;
    font-size: 20px;
}
canvas{
    margin-top: 30px;
    border-radius: 10px;
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}